<br />
<div ng-controller="LayoutCtrl">
	<div class="row">
		<div class="small-4 columns">
			<div class="weblet-container">
				<ng-include src="'weblet-container-control00.html'"></ng-include>
				<div
					ng-repeat="pagelet in gPagelets | filter:{row:0,column:0}:true | orderBy:'order'">
					<ng-include src="'/common/templates/weblet-tpl.html'"></ng-include>
					<ng-include src="'weblet-container-control00.html'"></ng-include>
				</div>
			</div>
		</div>
		<div class="small-8 columns">
			<div class="weblet-container">
				<ng-include src="'weblet-container-control01.html'"></ng-include>
				<div
					ng-repeat="pagelet in gPagelets | filter:{row:0,column:1}:true | orderBy:'order'">
					<ng-include src="'/common/templates/weblet-tpl.html'"></ng-include>
					<ng-include src="'weblet-container-control01.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="weblet-container-control00.html">
<div class="weblet-container-control-container" drop-channel="gweblet" ui-draggable="true"
	ui-on-drop="onDrop($event,$data,gPagelets)" data-row="0" data-column="0" data-order="{{$index>=0?$index+1:0}}">
	<div class="weblet-container-control">
		<i class="step fi-plus size-12" title="Add Weblet" ng-click="showWebletList(0, 0, $index>=0?$index+1:0)"></i>
	</div>
</div>
</script>
<script type="text/ng-template" id="weblet-container-control01.html">
<div class="weblet-container-control-container" drop-channel="gweblet" ui-draggable="true"
	ui-on-drop="onDrop($event,$data,gPagelets)" data-row="0" data-column="1" data-order="{{$index>=0?$index+1:0}}">
	<div class="weblet-container-control">
		<i class="step fi-plus size-12" title="Add Weblet" ng-click="showWebletList(0, 1, $index>=0?$index+1:0)"></i>
	</div>
</div>
</script>